*{
  font-family: "Inter", sans-serif;
}
.custom-navbar{
  background-color: transparent !important;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-brand span {
  color: green;
}

.nav-item{
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
}

.blog-icon{
  margin-right: 60px;
}

.btn {
  background-color: #87CA9C !important;
  font-weight: 600 !important;
}

.fs-7 {
  font-size: 1.2rem;
}
.btn:hover {
  background-color: #5FAD85 !important;
}

body .nav-link:hover, body .nav-link:active {
  color: #5FAD85;
}

body .nav-link {
 font-weight: 600;
}

/*slider*/
.slide1{
  background-image: url('main1.png');
  background-size: cover;
  background-position: center;
}

.slide2{
  background-image: url('main2.png');
  background-size: cover;
  background-position: center;
}

/*slider Button*/
.owl-prev, .owl-next{
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  font-size: 50px !important;
  place-items: center;
  border-radius: 50% !important;
  background-color: #87CA9C;
  display: grid;
  margin-top: -30px !important;
}

.owl-prev {
  left:0;
}

.owl-next {
  right:0;
}

.aboutus img{
  width: 95%;
  height: 100%;
}

.aboutus .about-content{
  position: relative;
}

.aboutus-title{
  font-weight: 600;
  color: black;
  text-align: center;
}

.aboutus-title h2{
  /*font-family: "Lora", serif;*/
  font-size: 2.6rem;
  font-weight: 600;
}

.content p{
  text-align: justify;
  font-size: 1.2rem;
  padding-top: 10px;
}

.pt-80{
  padding-top: 80px;
}

.number-section{
  background-color: #87CA9C;
  z-index: 2;
  position: absolute;
  padding: 6px 26px;
}

.number-section h3{
  font-size: 1.8rem;
  font-weight: 600;
}

.number-section h1{
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.mt-n130{
  margin-top: 6px;
}

.service-icon img{
  max-width: 300px;
  height: auto;
}

.service-box{
  background-color: #87CA9C;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-box{
  background-color: #87CA9C;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}

.feedback-image{
  text-align: center;
}

.footer{
  background-color: #87CA9C;
  padding-top: 60px;
  color: white;
  text-align: center;
  margin-top: 50px; 
  padding-bottom: 40px;
}

.footer .footer-brand{
  color: white;
  margin-bottom: 30px;
  display: inline-block;
}

.footer-top{
  margin-bottom: 40px;
}

.bottom-footer{
  border-top: 1px solid white;
  padding-top: 20px; 
}

.footer .social-links a{
  color: #87CA9C;
  font-size: 24px;
  margin-left: 5px;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}