
.custom-navbar{
  background-color: transparent !important;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand span {
  color: green;
}

.btn {
  background-color: #87CA9C !important;
  font-weight: 600 !important;
}

.btn:hover {
  background-color: #5FAD85 !important;
}

body .nav-link:hover, body .nav-link:active {
  color: #5FAD85;
}

body .nav-link {
 font-weight: 600;
}

/*slider*/
.slide1{
  background-image: url('main1.png');
  background-size: cover;
  background-position: center;
}

.slide2{
  background-image: url('main2.png');
  background-size: cover;
  background-position: center;
}

/*slider Button*/
.owl-prev, .owl-next{
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  font-size: 50px !important;
  place-items: center;
  border-radius: 50% !important;
  background-color: #87CA9C;
  display: grid;
  margin-top: -30px !important;
}

.owl-prev {
  left:0;
}

.owl-next {
  right:0;
}